header
  #logo-image
    img(src="images/smoke-signals-logo-400x400.jpg")
    #header-headline
      #logo Smoke Signals News
      #headline Find, share, and discuss great stories from Indian Country.
  
  #header-buttons
    .ui.animated.orange.button.inverted
      .visible.content Submit
      .hidden.content
        i.plus.icon.
    .ui.animated.button.orange.inverted
      .visible.content Log In
      .hidden.content  
        i.sign.in.icon
            
  


  
      


    
